$main: #3f3344;
$accent: #f7cfbf;
$white: #f4edeb;
$black: #09070a;
$gray: rgb(48, 52, 51);

#Home {
	width: 80svw;
	height: 100svh;
	// background-color: #eae2b7;
	// background: linear-gradient(
	// 	180deg,
	// 	rgba(11, 13, 16, 1) 0%,
	// 	rgba(24, 29, 34, 1) 32%,
	// 	rgba(32, 39, 40, 1) 37%,
	// 	rgba(32, 39, 40, 1) 52%,
	// 	rgba(6, 18, 29, 1) 77%,
	// 	rgba(0, 11, 20, 1) 100%
	// );

	padding: 2rem;

	color: $white;

	box-sizing: border-box;

	.greeting {
		margin-top: 2.5rem;
	}

	.greeting,
	.name {
		font-size: 4.3rem;
		font-family: "Lato";
		line-height: 5rem;
		font-weight: 500;
	}

	.title {
		font-size: 1.4rem;
		margin-top: 1rem;
		font-family: "Chakra Petch";
		letter-spacing: 0.2rem;
	}

	.resume {
		font-family: "Lato";

		background-color: transparent;
		border: 1px solid $white;
		padding: 0.8rem;

		display: flex;
		align-items: center;

		margin-top: 2.5rem;

		color: inherit;
		font-size: 1rem;
		// font-weight: 600;
		letter-spacing: 0.1rem;

		transition: color 0.15s;

		p {
			margin-right: 10px;
		}

		img {
			width: 1rem;
			margin-left: 0.75rem;
		}
	}

	.resume:hover {
		border: 1px solid $main;
		color: $main;
	}
}

@media (max-width: 1250px) {
	#Home {
		width: 100%;
	}
}
